

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #000;
    z-index: 1;
    

}
.btn{
    text-transform: uppercase;
    padding: 10px 20px;
    font-size: 1.3rem;
    background-color: #212020;
    color: white;
    border-radius: 10px;
    position: absolute;
    z-index: 2;
    font-weight: 800;
    
}
.btn:before{
    content:'';
    background:linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -5px;
    left: -5px;
    background-size:400%;
    z-index:-1;
    width:calc(100% + 10px) ;
    height: calc(100% + 10px);
    border-radius: 10px;
    opacity:0 ;
    animation-name: glowing;
    animation-duration:20s ;
    animation-timing-function: linear;
    transition-property: opacity ;
    transition-duration: 0.3s;
    animation-iteration-count: infinite;
    transition-timing-function:linear;
    filter: blur(10px);

}
.btn:hover:before{
    opacity: 1;
  
}
@keyframes glowing {
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 500% 0;
    }
    100%{
        background-position: 0 0;
    }
}
